.evento-detalles-sel {
    display: flex;
    
    max-width: 1000px;
    margin: 200px auto auto auto;

    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: -2px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.evento-detalles-sel2{
    background-color: #D2E8E3 ;
    height: 100vh; /* Ocupa el 100% de la altura del viewport */
    width: 100%; 
}

.evento-imagen-container-sel {
    
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.evento-imagen-sel {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.evento-info-sel {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.evento-nombre-sel {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.evento-fecha-sel,
.evento-hora-sel,
.evento-lugar-sel,
.evento-tipo-sel,
.evento-ciudad-sel {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

.evento-boton-volver-sel {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.evento-boton-volver-sel:hover {
    background-color: #0056b3;
}
.evento-compra-sel {
    margin-top: 20px;
    padding: 15px;
    background-color: #eef2f3;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.evento-cantidad-label-sel {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

.evento-cantidad-input-sel {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.evento-metodo-pago-sel {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.evento-boton-comprar-sel {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.evento-boton-comprar-sel:hover {
    background-color: #218838;
}
/* From Uiverse.io by DevPTG */ 
#load {
    position: absolute;
    width: 600px;
    height: 36px;
    left: 50%;
    top: 40%;
    margin-left: -300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  
  #load div {
    position: absolute;
    width: 20px;
    height: 36px;
    opacity: 0;
    font-family: Helvetica, Arial, sans-serif;
    animation: move 2s linear infinite;
    -o-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: #35C4F0;
  }
  
  #load div:nth-child(2) {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }
  
  #load div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
  }
  
  #load div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
  }
  
  #load div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }
  
  #load div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }
  
  #load div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
  }
  
  @keyframes move {
    0% {
      left: 0;
      opacity: 0;
    }
  
    35% {
      left: 41%;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    65% {
      left: 59%;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    100% {
      left: 100%;
      -moz-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      opacity: 0;
    }
  }
  
  @-moz-keyframes move {
    0% {
      left: 0;
      opacity: 0;
    }
  
    35% {
      left: 41%;
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    65% {
      left: 59%;
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    100% {
      left: 100%;
      -moz-transform: rotate(-180deg);
      transform: rotate(-180deg);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes move {
    0% {
      left: 0;
      opacity: 0;
    }
  
    35% {
      left: 41%;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    65% {
      left: 59%;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    100% {
      left: 100%;
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      opacity: 0;
    }
  }
  
  @-o-keyframes move {
    0% {
      left: 0;
      opacity: 0;
    }
  
    35% {
      left: 41%;
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    65% {
      left: 59%;
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
    }
  
    100% {
      left: 100%;
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      opacity: 0;
    }
  }