/* Carrusel */
.carrusel-container {
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px 0;
}

/* Estilo para la tarjeta de evento */
.cardEvento {
  background-color: #fffcfc;
  height: 500px;
  transition: transform 0.3s;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el contenido de la carta */
.carta-contenido {
  padding: 16px;
  text-align: left;
  color: inherit; /* El color heredado es importante para el tema */
}

/* Estilo para el título */
.carta-contenido h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: inherit; /* Hereda color */
}

/* Estilo para los párrafos */
.carta-contenido p {
  margin: 5px 0;
  color: inherit; /* Hereda color */
}

/* Estilos específicos para el tema claro */
.carrusel-container.light {
  background-color: #ff070700;
  color: #000000;
}

.cardEvento.light {
  background-color: white;
  color: #333;
}

.carta-contenido h2.light {
  color: #5cbcb2;
}
.titles2{
color: #fffcfc;
text-align: center;
font-size: 50px;
margin-bottom: 20px;

}

.saber-mas-btn.light {
  background-color: #4aa49d;
  color: white;
}

/* Estilos específicos para el tema oscuro */
.carrusel-container.dark {
  background-color: #fa000000;
}

.cardEvento.dark {
  background-color: #444;
  color: white;
}

.carta-contenido h2.dark {
  color: #5cbcb2;
}

.saber-mas-btn.dark {
  background-color: #4aa49d;
  color: white;
}

/* Estilos de la imagen */
.carta-imagen {
  height: 200px; /* Ajusta según sea necesario */
  background-size: cover;
  background-position: center;
}

/* Estilo del loader */
.card {
  --bg-color: #212121;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}

.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  height: 40px;
  padding: 10px 10px;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}

.word {
  display: block;
  height: 100%;
  padding-left: 200px;
  color: #956afa;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    transform: translateY(-102%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-202%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-302%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-402%);
  }

  100% {
    transform: translateY(-400%);
  }
}
