.modal-overlay-update {
  position: fixed; /* Asegura que el modal esté fijo en la pantalla */
  top: 50%;
  left: 50%; /* Centramos el modal horizontalmente */
  transform: translate(-50%, -50%); /* Centramos el modal verticalmente */
  border-radius: 20px;
  background: #f9fcfc; /* Color más claro para mayor suavidad */
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1), 10px -10px 30px rgba(255, 255, 255, 0.8); /* Sombra más suave */
  padding: 40px;
  width: 80%; /* Ajustamos el tamaño del modal */
  max-width: 600px; /* Tamaño máximo en pantallas grandes */
  min-width: 600px; /* Tamaño mínimo en pantallas pequeñas */
  text-align: center; /* Centrar el contenido dentro del modal */
  z-index: 9999; /* Asegura que el modal esté encima de otros elementos */
  display: flex;
  flex-direction: column; /* Flexbox para centrar contenido en el modal */
  justify-content: center;
  align-items: center;
  }
  
  .modal-content-update {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    max-height: 70vh; /* Mejor para pantallas pequeñas */
    overflow-y: auto;
  }
  
  .modal-content-update p:first-child {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2c3e50;
  }
  
  .user-box-update {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .user-box-update input,
  .user-box-update select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    color: #34495e;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .user-box-update input:focus,
  .user-box-update select:focus {
    border-bottom-color: #4dc7d9;
    background-color: #f1f8f9; /* Mejora la accesibilidad visual */
  }
  
  .user-box-update label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #7f8c8d;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .user-box-update input:focus ~ label,
  .user-box-update input:not(:placeholder-shown) ~ label,
  .user-box-update select:focus ~ label {
    top: -10px;
    font-size: 12px;
    color: #4dc7d9;
  }
  
  .button-group-update {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .submit-btn-update,
  .close-btn-update {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #4dc7d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submit-btn-update:hover,
  .close-btn-update:hover {
    background-color: #3baac4;
    transform: scale(1.05);
  }
  
  .close-btn-update {
    background-color: #ff6b6b;
  }
  
  .close-btn-update:hover {
    background-color: #e55555;
  }
  